<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.polito.mobile.temporaryjobplacement" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".TemporaryJobPlacementApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".commonactivities.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pstudent.activities.StudentMainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_student_main"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name=".pcompany.activities.CompanyMainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_company_main"
            android:windowSoftInputMode="stateHidden|adjustPan" >
        </activity>
        <activity
            android:name=".commonactivities.SignUpActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_sign_up"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".pstudent.activities.StudentProfileActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_student_profile"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".pstudent.activities.StudentFavouritesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_student_favourites"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".pstudent.activities.StudentMessagesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_student_messagges"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".pstudent.activities.StudentOfferListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_student_offer_list"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".pstudent.activities.StudentCompanyListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_student_company_list"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".pstudent.activities.StudentDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_student_offer_list"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".pstudent.activities.StudentMyApplicationsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_student_history"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".pstudent.activities.StudentApplyActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_student_apply"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".pstudent.activities.ApplicationSentActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_application_sent"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".pstudent.activities.ShowMessageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_show_message"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".pstudent.activities.SendMessageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_send_message"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:enabled="@bool/use_activity"
            android:exported="true"
            android:icon="@drawable/ic_chooser"
            android:label="@string/choose_file" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".commons.viewmanaging.imagezoomcrop.ImageCropActivity"
            android:label="Choose a picture" >
        </activity>
        <activity
            android:name=".pstudent.activities.CoverLetterActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_cover_letter" >
        </activity>
        <activity
            android:name=".pstudent.activities.ApplicationDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_application_detail" >
        </activity>


        <activity
            android:name=".pcompany.activities.OpenPositionsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_open_position" >
        </activity>
        <activity
            android:name=".pcompany.activities.PostJobOfferActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_post_job_offer" >
        </activity>
        <activity
            android:name=".pcompany.activities.CompanyProfileActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_company_profile" >
        </activity>
        <activity
            android:name=".pcompany.activities.FavouriteStudentsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_favourite_students" >
        </activity>
        <activity
            android:name=".pcompany.activities.CompanyMessagesActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_student_messagges" >
        </activity>
        <activity
            android:name=".pcompany.activities.ShowMessageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_show_message"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".pcompany.activities.SendMessageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_send_message"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".pcompany.activities.CompanyDetailActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_student_offer_list"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".pcompany.activities.CompanyStudentListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_company_student_list"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <activity
            android:name=".pcompany.activities.DefaultMessageActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_student_offer_list"
            android:windowSoftInputMode="stateHidden" >
        </activity>

    </application>

</manifest>
